@font-face {
  font-family: "TaipeiSansTCBeta-Regular";
  src: local("TaipeiSansTCBeta-Regular"),
    url("./fonts/TaipeiSansTCBeta-Regular.ttf") format("truetype");
}

.App[lng="zh-TW"] {
  font-family: "TaipeiSansTCBeta-Regular", sans-serif;
}

#title-container img {
  max-height: 250px;
}

/* Override the library default */
.scroll-top-button {
  color: gray !important;
  background: transparent !important;
  border: 0 !important;
}

/* Override the library default */
.scroll-top-button:hover {
  color: black !important;
}

@media screen and (max-width: 768px) {
  .App {
    min-width: 320px;
  }
}
